header {
  /*text-decoration: underline;*/
}

key {
  /*color: cyan;*/
  /*font-weight: bold;*/
}

value {
  color: white;
}

keyword {
  color: magenta;
}

caret {
  color: grey;
}

welcome {
  font-weight: bold;
  color: white;
}

comment {
  font-style: italic;
  color: yellow;
}

warning {
  font-style: italic;
  color: red;
}