html, body
  width: 100%
  min-height: 100%
  color: $text-color
  font-family: $body-font
  font-size: 0.8em
  line-height: 0.75
  text-align: center

.frame
  @include clearfix
  width: $frame-width
  margin: 0 auto