// colors
$background-gradient-dark = #e5e7eb;
$background-gradient-light = #f8f8f8;
// color = hsl(211, 12%, 50%);
$text-color = #272c31;
$text-selection-color = default;

// sizes
$frame-width = 960px;
$gutter = 20px;

// fonts
$h1-size = 32px;
$h2-size = 30px;
$title-font = 'Helvetica', Arial, sans-serif;
$subtitle-font = "Josefin Slab", "serif";
$body-font = Lucida Grande, Verdana, sans-serif;
$body-font-size = 14px;
$paragraph-gutter = 13px;
